@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
/* for small */
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Capriola', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: radial-gradient(at 18% 99%, rgb(223, 229, 113) 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 97% 8%, rgb(118, 249, 173) 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 79% 82%, rgb(233, 109, 131) 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 96% 10%, rgb(222, 81, 251) 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 42% 20%, rgb(116, 240, 251) 0px, transparent 50%) repeat scroll 0% 0%,
        radial-gradient(at 4% 49%, rgb(203, 88, 218) 0px, transparent 50%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) radial-gradient(at 57% 33%, rgb(218, 83, 228) 0px, #a299ff 50%) repeat scroll 0% 0%;
}

#app {
    background: #ffffff50;
    border: 1px solid #ff93936c;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

#app h1 {
    font-size: 25px;
    color: #001e4d;
    padding-bottom: 10px;
}

small {
    font-weight: 600;
    color: #979797;
    font-family: 'Palanquin Dark', sans-serif;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    font-weight: 600;
    color: #001e4d;
    font-family: 'DynaPuff', cursive;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 400;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all .1s;
    display: none;
}

#next-btn:hover {
    outline: 3px solid #0043af8c;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}